sonarqube:
  image: infosec812/sonarqube:5.1.2
  ports:
    - "9000:9000"
  name:
    - "sonarqube"
  environment:
    ## Any sonar.xxx.xxx.xxx property can be set here by replacing the dots with double underscores
    sonar__jdbc__url: jdbc:postgresql://192.168.1.210:5432/sonar
    sonar__jdbc__username: dphillips
    sonar__jdbc__password: ignored
  volumes:
    - "data:/data"
